@model IEnumerable<PromotionEngine.Logic.Models.ProductCartModel>

@{
    ViewData["Title"] = "GetAllProductsWithDetails";
}

<h2>Product Details</h2>

<table class="table">
    <thead>
		 <tr>
		 	<th>
		 		@Html.DisplayNameFor(model => model.productId)
		   </th>
		   <th>
		 		@Html.DisplayNameFor(model => model.productUnitPrice)
		   </th>
		   <th></th>
		 </tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
		 <tr>
		 	<td>
		 		@Html.DisplayFor(modelItem => item.productId)
		 </td>
		 <td>
		 	@Html.DisplayFor(modelItem => item.productUnitPrice)
		 </td>
		 </tr>
}
    </tbody>
</table>
